<%= for  category  <-  @categories  do %>
    <ul>
        <%= category.name %>:
        <%= for  repository  <-  category.repositories  do %>
            <li>
                Repo: <%= link repository.repo_name, to: repository.url, target: "_blank" %> </br>
                Description: <%= repository.description %> <br>
                Star: <%= repository.star_count %> <br>
                Pushed at: <%= repository.pushed_at %> <br>
            </li>
        <% end %>
    </ul>
<% end %>
